body {
    background-color: antiquewhite;
}

body p {
    font-size: 1.5em;
}

h1 {
    font-size: 1em;
}

img {
    max-width: 100%;
    border-radius: 20px;
    filter: blur(1px);
}

.figures {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width:800px) {
    body {
    background-color: beige;
    margin: 50px;
    }
    body h1 {
        font-size: 2em;
    }
}